/* Centrer le formulaire au milieu de la page */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #333; /* Fond pour le corps de la page */
}

/* Style pour le formulaire */
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.4em;
    background-color: #171717;
    border-radius: 25px;
    transition: .4s ease-in-out;
    width: 350px; /* Largeur fixe pour le carré */
    height: 350px; /* Hauteur fixe pour le carré */
    box-sizing: border-box;
}

/* Effet au survol du formulaire */
.form:hover {
    transform: scale(1.05);
    border: 1px solid black;
}

/* Style pour le titre du formulaire */
#heading {
    text-align: center;
    margin: 2em;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
}

/* Style pour les champs de saisie */
.field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 25px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: white;
    background-color: #171717;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

/* Style pour les icônes à l'intérieur des champs de saisie */
.input-icon {
    height: 1.3em;
    width: 1.3em;
    fill: white;
}

/* Style pour les champs de saisie */
.input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #d3d3d3;
}

/* Style pour les boutons */
.form .btn {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 2.5em;
}

/* Style pour le bouton Login */
.button1 {
    padding: 0.5em;
    padding-left: 1.1em;
    padding-right: 1.1em;
    border-radius: 5px;
    margin-right: 0.5em;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: #252525;
    color: white;
}

/* Effet au survol du bouton Login */
.button1:hover {
    background-color: black;
    color: white;
}

/* Style pour le bouton Sign Up */
.button2 {
    padding: 0.5em;
    padding-left: 2.3em;
    padding-right: 2.3em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: #252525;
    color: white;
}

/* Effet au survol du bouton Sign Up */
.button2:hover {
    background-color: black;
    color: white;
}

/* Style pour le bouton Forgot Password */
.button3 {
    margin-bottom: 3em;
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: #252525;
    color: white;
}

/* Effet au survol du bouton Forgot Password */
.button3:hover {
    background-color: red;
    color: white;
}
